#bridge-img{

}
nav{
    display:inline;

}
#top-nav-list{
    display:inline;
    position:absolute;
    right:300px;

}
#top-nav-list>li{
    display: inline;
    list-style: none;
    padding-left:20px;
    color:white;
    font-size: 24px;
}
#header-section{
    width:100%;
    text-align: center;
    background-image: url("Images/bridge.jfif") ;
    background-size: 100%;
    background-position: center;
    height:500px;

}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    display:inline;
    font-size: 36px;
    color:white;
    position:absolute;
    left:300px;
    display:inline;
    padding:0px 0px 0px 0px;
}
#header-text{
    position:absolute;
    display:inline-block;
    top:250px;
    color:white;
    left:50%;
    margin-left: -350px;
    width:700px;
    height:300px;


}
#can-you{
    font-size:30px;
    text-align: center;
}
#yup{
    text-transform:uppercase ;
    font-size: 50px;
    text-align: center;

}
#learn-more{
    display: block;
    text-align: center;
    position:absolute;
    width:150px;
    height:75px;
    left:50%;
    margin-left: -75px;
    height:30px;
    background-color: Transparent;
    color:white;
    border-color: white;
    border-radius:5px;
    font-size:14px;

}
p{

    margin-bottom:10px;
    margin-top:10px;

}
.headings{
    font-size: 36px;
}
#identity{
    background-color:gainsboro;
    height:400px;
    width:inherit;

}
.blue{
    width:700px;
    background-color: aqua;
    height:400px;

}
#identity-text{


}
.inline-flex-display{
    display: inline-flex;
    padding:40px 150px 40px 150px;
}
#services-details{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding: 50px 200px 50px 200px;
    grid-gap:0px 30px;
}
#awesome-clients{
    background-color:gainsboro ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.speech-bubble {
    position: relative;
    background:white;
    border-radius: .4em;
    width:500px;
    height:120px;
    text-align: center;

}
.speech-bubble p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-right-color: white;
    border-left: 0;
    border-bottom: 0;
    margin-top: -13px;
    margin-left: -26px;
}
.first-client img{

    width:120px;
    height:120px;
    border-radius: 50%;
}
.first-client{
    display:grid;
    grid-template-columns: 30fr 70fr;
    padding-left:200px;
    padding-right: 300px;
    grid-gap:20px ;
    margin-top:0px;
    margin-bottom:0px;
    height:200px;

}
.speech-bubble-container{
    width:500px;
    height:500px;
}
#brands{
    height:100px;
    background-color: bisque;
}
#amazing-team{
    display:flex;
    flex-direction: row;
    background-color: black;
    height:500px;
    vertical-align: center;
    text-align: center;
    color:white;
    justify-content: center;
}
#contact-us{
    font-size:30px;
    background-color: #768FC7;
    height:500px;
    color:white;
    display:flex;
    flex-direction: row;
    padding-left:120px;
    padding-right:120px;
    justify-content: center;
    align-items:center ;

}

#contact-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2.4em;
    font-size:26px;
    margin-top:30px;

}
input,textarea,button{
    display:block;
    margin-bottom:20px;
    margin-top:20px;
}
input{
    height:40px;
    width:400px;
}
textarea{
    height:150px;
    width:400px;

}
button{
    border-radius: 5px;
}
#form{
    display:flex;
    justify-content: center;
}
#contact-more-details{
    height:400px;
    margin-right:40px;
}
#footer{
    height:75px;
     color:white;
    font-size:23px;
    width:100%;
    bottom:0px;
    background-color: #768FC7;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;

}hr{
  padding:0px;
    margin:0px;
}